@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body,
#root {
  height: 100%;
}

li :hover {
  color: #242424;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* Optional but helps for clear theme switching */
/* body {
  @apply bg-white text-black dark:bg-gray-900 dark:text-white;
} */

